.station {
    margin-bottom: 20px;
    text-align: right;
}

.header {
    margin-bottom: 10px;
    font-weight: 800;
}

.score {
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 35px;
}

.name {
    font-size: 80%;
}

.veryGood {
    color: #007bff;
}

.good {
    color: forestgreen;
}

.moderate {
    color: darkorange;
}

.bad {
    color: brown;
}