.station {
    margin-bottom: 20px;
    text-align: right;
}

.header {
    font-weight: 800;
    font-size: 13px;
}

.aqi {
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 35px;
}

.name {
    font-size: 80%;
}

.noDataIcon {
    font-size: 25px;
    position: relative;
    margin: -5px 10px 2px 0;
    top: 4px;
}