@font-face {
    font-family: 'Inter UI';
    src:
            url(../fonts/Inter-UI-Regular.woff2) format('woff2'),
            url(../fonts/Inter-UI-Regular.woff) format('woff')
}

/*@font-face {*/
    /*font-family: 'Inter UI';*/
    /*font-weight: 500;*/
    /*src:*/
            /*url(../fonts/Inter-UI-Bold.woff2) format('woff2'),*/
            /*url(../fonts/Inter-UI-Bold.woff) format('woff')*/
/*}*/

@font-face {
    font-family: 'Barlow Condensed';
    src:
            url(../fonts/BarlowCondensed-Regular.woff2) format('woff2')
}
